img {
  height: 300px;
}

  .buttons-options {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .button-option {
        background: white;
        padding: 1rem;
      }
    }