<div class="wrapper">
  <div class="images">
    <div *ngFor="let image of images">
      <app-screen [img]="image" [gamePlaying]="gamePlaying" (answeredResult)="selectAnswer($event)"></app-screen>
    </div>
  </div>
  <ng-container *ngIf="imagesClasified else detecting">
    <button (click)="startGame()">Start game</button>
    <app-timer></app-timer>
    <div class="result" *ngIf="gameOver">
      <h3>
        Your score: {{ score }}
      </h3>
      <p>Guessed: {{imagesCorrectlyGuessed}}/{{images.length}}</p>
      <br>
      <!-- {{ 'probability: ' + (correctAnswer.probability * 100).toFixed(0)  + '%'}} -->
    </div>
  </ng-container>
  <ng-template #detecting>
    Detecting...
  </ng-template>
</div>