.wrapper {
  position: relative;
  width: 360px;
  app-screen {
    display: block;
  }
  app-timer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .buttons-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .button-option {
      background: white;
      padding: 1rem;
    }
  }
}